# Python Language Basics - One

### Language Semantics

 Python, aka "Executable pseudocode" :  readability, simplicity, and explicitness

####   Indentation, not braces

Python uses whitespace (tabs or spaces) to structure code instead of using braces as in many other languages like R, C++, Java, and Perl

```python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)
```

A colon denotes the start of an indented code block after which all of the code must be indented by the same amount until the end of the block.

Significant whitespace is a fact of life for Python programmers.Strongly recommend using four spaces as your default indentation and replacing tabs with four spaces.

####   Multiple statements in one line

As you can see by now, Python statements also do not need to be terminated by semicolons. Semicolons can be used, however, to separate multiple statements on a single line:

```python
a = 5; b = 6; c = 7
```

Putting multiple statements on one line is generally discouraged in Python as it often makes code less readable.

#### Everything is an object

An important characteristic of the Python language is the consistency of its object model. 

Every number, string, data structure, function, class, module, and so on exists in the Python interpreter in its own "box" which is referred to as a Python object.

Each object has an associated type (e.g., string or function) and internal data. In practice this makes the language very flexible, as even functions can be treated like any other object.

#### Comments

Any text preceded by the hash mark (pound sign) # is ignored by the Python interpreter. This is often used to add comments to code. At times you may also want to exclude certain blocks of code without deleting them. An easy solution is to comment out the code:

```python
results = []
for line in file_handle:
    # keep the empty lines for now
    # if len(line) == 0:
    #   continue
    results.append(line.replace('foo', 'bar'))
```

Comments can also occur after a line of executed code. While some programmers prefer comments to be placed in the line preceding a particular line of code, this can be useful at times:

```python
print("Reached this line")  # Simple status report
```

### Binary operators and comparisons

a + b: Add a and b
a - b: Subtract b from a
a * b: Multiply a by b
a / b: Divide a by b
a // b: Floor-divide a by b, dropping any fractional remainder
a ** b: Raise a to the b power

In [2]:
5 - 7

-2

In [3]:
12 + 21.5

33.5

In [4]:
3.5 * 4.98

17.43

In [5]:
4.5 / 2

2.25

In [6]:
4.5 // 2

2.0

In [7]:
2 ** 3

8

a & b: True if both a and b are True; for integers, take the bitwise AND
a | b: True if either a or b is True; for integers, take the bitwise OR
a ^ b: For booleans, True if a or b is True, but not both; for integers, take the bitwise EXCLUSIVE-OR
a == b: True if a equals b
a != b: True if a is not equal to b
a <= b, a < b: True if a is less than (less than or equal) to b
a > b, a >= b: True if a is greater than (greater than or equal) to b

In [9]:
a = 1 # 1 is True 
b = 0 # 0 is False

In [10]:
a & b

0

In [11]:
a | b

1

In [12]:
a ^ b

1

In [13]:
3 == 4

False

In [14]:
3 != 4

True

In [17]:
3 <= 3

True

In [16]:
3 < 3

False

To check if two references refer to the same object, use the is keyword. is not is also
perfectly valid if you want to check that two objects are not the same

a is b: True if a and b reference the same Python object
a is not b: True if a and b reference different Python objects

In [18]:
a = [1, 2, 3]
b = a
c = list(a) #list() always creates a new Python list (i.e., a copy), we can be sure that c is distinct from a

In [19]:
a is b

True

In [20]:
a is not c

True

Note that "is" is not the same as the == operator

In [21]:
a == c

True

A very common use of is and is not is to check if a variable is None, since there is
only one instance of None:

In [22]:
a = None
a is None

True

### Scalar Types

#### Numeric types

Python along with its standard library has a small set of built-in types for handling 
a)numerical data 
b)strings
c)boolean (True or False) values, and 
d)dates and time

These "single value" types are sometimes called scalar types, or scalars. Date and time handling are provided by the datetime module in the standard library.

Standard Python scalar types:

None: The Python “null” value (only one instance of the None object exists)
str: String type; holds Unicode (UTF-8 encoded) strings
bytes: Raw ASCII bytes (or Unicode encoded as bytes)
float: Double-precision (64-bit) foating-point number (note there is no separate double type)
bool: A True or False value
int: Arbitrary precision signed integer

The primary Python types for numbers are int and float. An int can store arbitrarily large numbers:

In [23]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

Floating-point numbers are represented with the Python float type. For the two examples below, each one is a double-precision (64-bit) value. They can also be expressed with scientific notation:

In [24]:
fval = 7.243
fval2 = 6.78e-5 #expressed with scientific notation:

Integer division not resulting in a whole number will always yield a floating-point number:

In [25]:
3 / 2

1.5

To get integer division which drops the fractional part if the result is not a whole number, use the floor division operator //:

In [26]:
3 // 2

1

#### Strings

Many people use Python for its powerful and flexible built-in string processing capabilities. You can write string literals using either single quotes ' or double quotes ":

In [27]:
a = 'one way of writing a string'
b = "another way"

In [28]:
a

'one way of writing a string'

In [29]:
b

'another way'

For multiline strings with line breaks, you can use triple quotes, either ''' or """:

In [31]:
c = """
This is a longer string that
takes up several lines
"""

It may surprise you that this string c actually contains four lines of text: the line breaks after """ and after lines are included in the string. 
We can count the new line characters with the count method on c:

In [32]:
c.count('\n')

3

Python strings are immutable, i.e. you cannot modify a string after you create it:

In [34]:
a = 'this is a string'
a[1] = 'c' # try to change the 1st element (h) of a

TypeError: 'str' object does not support item assignment

Instead, we can use replace() function to generate a new string. Note that a is not changed.

In [35]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [36]:
a

'this is a string'

Many Python objects can be converted to a string using the str function:

In [38]:
a = 3.98 # a is a float 
s = str(a)
print(s) # s is a string

3.98

#### Booleans

The two boolean values in Python are written as True and False. 
Comparisons and other conditional expressions evaluate to either True or False. 
Boolean values are combined with the and and or keywords:

In [1]:
True and True

True

In [1]:
True and False

False

In [2]:
False or True

True

In [2]:
False or False

False

#### Type casting

The str, bool, int, and float types are also functions that can be used to cast values to those types:

In [3]:
s = '3.14159' # s is a String
fval = float(s) # fval is a float (number)

In [4]:
type(fval) # check what tyoe of fval is

float

In [5]:
int(fval) # now fval is int

3

In [6]:
bool(fval) # 0 is False; any number is True

True

In [7]:
bool(0)

False

#### None

None is the Python null value type. If a function does not explicitly return a value, it
implicitly returns None

In [8]:
a = None
a is None

True

In [3]:
b = 5
b is None

False

None is also a common default value for function arguments:

In [10]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

While a technical point, it’s worth bearing in mind that None is not only a reserved keyword but also a unique instance of NoneType:

In [12]:
type(None)

NoneType

#### Dates and times

The built-in Python datetime module provides datetime, date, and time types. The datetime type, as you may imagine, combines the information stored in date and time and is the most commonly used:

In [13]:
from datetime import datetime, date, time # how we import Python modules
dt = datetime(2020, 4, 3, 23, 26, 21)

In [15]:
dt.day

3

In [16]:
dt.minute

26

Given a datetime instance, you can extract the equivalent date and time objects by calling methods on the datetime of the same name:

In [18]:
dt.date()

datetime.date(2020, 4, 3)

In [19]:
dt.time()

datetime.time(23, 26, 21)

The strftime method formats a datetime as a string:

In [20]:
dt.strftime('%m/%d/%Y %H:%M')

'04/03/2020 23:26'

Strings can be converted (parsed) into datetime objects with the strptime function:

In [22]:
datetime.strptime('20200403', '%Y%m%d')

datetime.datetime(2020, 4, 3, 0, 0)

Format specifications

%Y: Four-digit year eg.2020dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 
%y: Two-digit year eg.20
%m: Two-digit month from 01 to 12
%d: Two-digit day from 01 to 31
%H: Hour (24-hour clock) from 00 to 23
%I: Hour (12-hour clock) from 01 to 12
%M: Two-digit minute from 00 to 59
%S: Second 
%w: Weekday as integer from 0 (Sunday) to 6
%U: Week number of the year; Sunday is considered the first day of the week
%W: Week number of the year; Monday is considered the first day of the week
%z: UTC time zone offset as +HHMM or -HHMM; empty if time zone naive

%F Shortcut for %Y-%m-%d (e.g., 2020-11-12)
%D Shortcut for %m/%d/%y (e.g., 11/12/20)

The difference of two datetime objects produces a datetime.timedelta type:

In [23]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt

In [25]:
delta
type(delta)

datetime.timedelta

In [26]:
dt

datetime.datetime(2020, 4, 3, 23, 26, 21)

In [27]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)